bin/Debug/Uel.Screenshot.Tests.exe
bin/Debug/Uel.Screenshot.Tests.exe.config
bin/Debug/Uel.Screenshot.Tests.pdb
bin/Debug/Uel.Screenshot.Tests.vshost.exe
bin/Debug/Uel.Screenshot.Tests.vshost.exe.config
bin/Debug/Uel.Screenshot.Tests.vshost.exe.manifest
bin/Release/CSharp.ScreenshotComparison.exe
bin/Release/CSharp.ScreenshotComparison.exe.config
bin/Release/CSharp.ScreenshotComparison.pdb
bin/Release/Uel.Screenshot.Tests.exe
bin/Release/Uel.Screenshot.Tests.exe.config
bin/Release/Uel.Screenshot.Tests.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/Uel.Screenshot.Tests.csproj.FileListAbsolute.txt
obj/Debug/Uel.Screenshot.Tests.csprojResolveAssemblyReference.cache
obj/Debug/Uel.Screenshot.Tests.exe
obj/Debug/Uel.Screenshot.Tests.pdb
obj/Release/CSharp.ScreenshotComparison.csproj.FileListAbsolute.txt
obj/Release/CSharp.ScreenshotComparison.csprojResolveAssemblyReference.cache
obj/Release/CSharp.ScreenshotComparison.exe
obj/Release/CSharp.ScreenshotComparison.pdb
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Release/Uel.Screenshot.Tests.csproj.FileListAbsolute.txt
obj/Release/Uel.Screenshot.Tests.csprojResolveAssemblyReference.cache
obj/Release/Uel.Screenshot.Tests.exe
obj/Release/Uel.Screenshot.Tests.pdb
.vs/CSharp.Screenshot/v14/.suo
bin/Debug/CSharp.Screenshot.exe.config
bin/Debug/CSharp.Screenshot.vshost.exe
bin/Debug/CSharp.Screenshot.vshost.exe.config
bin/Debug/CSharp.Screenshot.vshost.exe.manifest
